@model NewsPress.Areas.Identity.Data.Author

@{
    ViewData["Title"] = "Edit profile";
}
<div class="container">
    <div style="width:75%; margin:auto">
        <h1>Edit Profile</h1>
        <hr />
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="approved" />
            <input type="hidden" asp-for="admin" />
            <input type="hidden" asp-for="JoiningDate" />
            <input type="hidden" asp-for="ProfilePicture" />
            <input type="hidden" asp-for="UserName" />
            <input type="hidden" asp-for="NormalizedUserName" />
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="NormalizedEmail" />
            <input type="hidden" asp-for="EmailConfirmed" />
            <input type="hidden" asp-for="PasswordHash" />
            <input type="hidden" asp-for="SecurityStamp" />
            <input type="hidden" asp-for="ConcurrencyStamp" />
            <input type="hidden" asp-for="PhoneNumber" />
            <input type="hidden" asp-for="PhoneNumberConfirmed" />
            <input type="hidden" asp-for="TwoFactorEnabled" />
            <input type="hidden" asp-for="LockoutEnd" />
            <input type="hidden" asp-for="LockoutEnabled" />
            <input type="hidden" asp-for="AccessFailedCount" />

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <textarea asp-for="description" rows="15" cols="200" class="form-control"></textarea>
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <img style="width:100%" src="~/Images/@ViewBag.author.ProfilePicture" />
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"> Image to replace the current one</label>
                <input type="file" asp-for="ImageFile" accept="image/*" />

                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }