@{
    ViewData["Title"] = "About this website";
}
<h1>@ViewData["Title"]</h1>
<p> This webiste is a student project made by Bouvard Clément fro the resitting of CIS 2055, it has probably been done in 11 days before his holidays...</p>