<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewsPress</title>
    <link href="~/newspaper.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img height="30" src="~/Images/NewsPress.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Article/Theme/Covid">Covid</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Article/Theme/International">International</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Article/Theme/Sport">Sport</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Article/Theme/Climate">Climate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Article/Theme/Politic">Politic</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Article/Theme/Technology">Technology</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Author" asp-action="Index">Authors</a>
                        </li>
                    </ul>
                  
                    
                    <form asp-controller="Article" asp-action="Search" method="post">
                        <input type="text" name="searchbar" placeholder="Search...">

                        <button type="submit"><img style="height:15px"src="~/Images/search.png"></button>
                    </form>

                    <partial name="_LoginPartial" />

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - NewsPress - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>- <a asp-area="" asp-controller="Home" asp-action="About">About</a>- <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
