@using Microsoft.AspNetCore.Identity
@using NewsPress.Areas.Identity.Data

@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager



@if (SignInManager.IsSignedIn(User))
{
<div class="dropdown">
    <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img width=30 height=30 class="rounded-circle" src="~/Images/@UserManager.GetUserAsync(User).Result.ProfilePicture" />
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        <a class="dropdown-item" href="/Author/Profile/@UserManager.GetUserAsync(User).Result.Id">My profile</a>

        <a id="manage" class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage profile</a>

        <form id="logoutForm" class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </div>
</div>
      
    

    
        
    
}
else
{
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
}

